

body,
html {
	width: 100%;
	height:100%;
	text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif, Arial;
}

.faded {
	color: rgba(255, 255, 255, 0.8);
}

header.startup {
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(caspar-rubin-224229-unsplash.jpg);
	background-size:cover;
	height: 100vh;
}

header.startup h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; 
  padding-top: 30%;
}

hr {
	width: 65px; 
	border-width: 3px;
  	border-color: #F05F44; 
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
  	border-radius: 300px;
  	font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1em 2em; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; 
}

.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 5px;
    cursor: pointer;
}
  

